* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(100deg, #0a0a50, #11617c);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 500px;
    /* height: 250px; */
    background: linear-gradient(150deg, #1616a5, #4c57f5);
    border-radius: 15px;
    box-shadow: 0 0 20px black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container h2 {
    margin: 10px 0 20px;
    color: white;
}

.container form {
    border: solid black 1px;
    width: 70%;
    height: 40px;
    border-radius: 30px;
    padding: 2px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px black;
    background-color: #ffffffd8;
    overflow: hidden;
}

.container form input {
    outline: none;
    border: none;
    width: 80%;
    height: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 0 1em;
    background: none;
    color: black;

}

.container form button {
    width: 20%;
    height: 90%;
    outline: none;
    background-color: orange;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: black;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    box-shadow: 0 0 10px black;
    font-weight: bold;


}

.container form button:hover {
    background-color: #ffa600d5;
    transform: scale(1.1);
    transition: 0.5s;
    font-weight: bold;
}

.container ul {
    margin-top: 20px;
    width: 60%;
}

.container ul li {
    background-color: white;
    padding: 8px 30px;
    margin-bottom: 10px;
    list-style: none;
    border-radius: 20px;
    text-align: left;
    box-shadow: 0 0 10px black;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.5s;
    letter-spacing: 0.6px;
    color: red;
    position: relative;
    overflow: hidden;

}

.container ul li:hover {
    background-color: #ffffffcb;
    transform: scale(1.1);
}

/* .container ul li::before {
    content: "";
    height: 15px;
    width: 15px;
    background: none;
    border-radius: 50%;
    outline: solid black 2px;
} */

.container ul li.checked::before {
    content: "✔";
    position: absolute;
    left: 8px;
    top: 0px;
    font-size: 25px;
    /* height: 15px;
    width: 15px; */
    /* background: green; */
    /* border-radius: 50%; */
    /* outline: solid black 2px; */
}

.container ul li.checked {
    color: green;
    text-align: center;
}

.container ul li span {
    position: absolute;
    right: 8px;
    top: 6px;
}

.container ul li span:hover {
    transform: scale(1.2);
    transition: 0.5s;
}




@media (max-width: 700px) {
    .container {
        width: 80%;
    }

    .container ul li {
        padding: 5px 10px;
        font-size: 10px;
    }

    .container ul li span {
        position: absolute;
        right: 6px;
        top: 2.5px;
    }

    .container ul li.checked::before {
        content: "✔";
        position: absolute;
        left: 6px;
        top: 2px;
        font-size: 12px;
    }

    .container form button {
        font-size: 0.7em;
    }

    .container form {
        height: 30px;
    }
}